.skills-container {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: auto;
    font-size: 3rem;
}

.skills-container h1 {


    text-align: center;
    color: rgb(250, 10, 210);
    background: black;
    border-radius: 20px;
}

.list-skills {
    width: 100%;
    list-style: none;
    padding: 0;

}

.skills {
    text-align: center;
    width: 90%;
    margin: 20px auto;
    background: black;
    color: rgb(250, 10, 210);
   
    border: 1px solid white;
    border-radius: 20px;
    animation: skilssColors 10s   linear infinite;

}

.skills:hover {
    color: black;
    background: rgb(250, 10, 210);
    border: 1px solid black;
}


@keyframes skilssColors {
    0%{
        color: black;
        background: rgb(255, 255, 255);
    }
    20%{color: black;
        background: rgb(255, 255, 255);}
    25%{
        color: white;
        background: rgb(250, 10, 210);
    }
    45%{
        color: white;
        background: rgb(250, 10, 210);
    }
    50%{
        color: black;
        background: rgb(255, 255, 255);
    }
    70%{
        color: black;
        background: rgb(255, 255, 255);
    }
    75%{
        color: white;
        background: rgb(250, 10, 210);
    }

    95%{
        color: white;
        background: rgb(250, 10, 210);
    }
    100%{
        color: black;
        background: rgb(255, 255, 255);
    }
       
}